<div>
    <div class="introduction" class="container-fluid">
	<p><img src="img/Kensei.jpg"/> Hi, my name is Kensei Kawamura and I am currently a senior at the University of Washington.
		I am an <a href="https://ischool.uw.edu/about" target="_blank">Informatics</a> major with an emphasis in Human Computer Interaction. </p>
		I am also part of the Japanese Student Association at the University of Washington, where I am part
		of event planning. Being involved with planning events for people has given me experience in understanding
		user needs, and coming up with events that satisfy these needs.
	</div>
</div>